<!DOCTYPE html>
<html>
  <head>
    <title>배라는 민트초코</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <!-- 엔터키 함수 -->
  <script>
    var temp;
    function enterKey(){
      if (window.event.keyCode == 13){
        send();
      }
    }
  </script>
  <body>
    <div id="main">
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>
      <div>
        <input type="text" id="test" placeholder="  메시지를 입력해주세요.." onkeyup="enterKey()" >
        <button id = "send" onclick="send()" >전송 </button>
      </div>
    </div>
    <div id="list">대화 상대</div>
    <div id="friend"></div>
  </body>
</html>
<!--Start of Tawk.to Script-->
<!--  <body>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ceb3ed92135900bac12999c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script></body>
-->
<!--End of Tawk.to Script-->