/* 메인 */
body{
  margin : 0px;
  background-color: #212f3d;
}

#head{
  line-height: 20vh;
  font-weight: bold;
  margin: 0px;
  height: 20vh
  }
#main {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid #1abc9c;
  /* border-left: solid #1abc9c; */
  background-color: #2a3a4c;
  text-align: center;
  width: 70%;
  height: 99vh;
}
#test {
  border-radius: 20px;
  border : 0px;
}
#send:hover{background: #009496;}
#send{
  width : 60pt;
  height: 20pt;
  background: #1abc9c;
  border-radius: 10px;
  border : 0px;
  }
#test{
  width: 70%;
  height: 20pt;
            }
/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}


/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: #1abc9d;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
}

/* 내가 보낸 메시지 */
.me {
  margin-left: auto;
  margin-right: 1em;
  width: 50%;
  height: 6vh;
  line-height: 6vh;
  background-color: #e5f9f9;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;

}

/* 상대방이 보낸 메시지 */
.other {
  margin-left: 1em;
  margin-right: auto;
  width: 50%;
  height: 6vh;
  line-height: 6vh;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #1d2b38;
}
::-webkit-scrollbar-thumb {
    background-color:#1ABC9C;border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:16px;height:16px;background:#16A085;
} 